<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<h1>"welcome to the Online-Delivery System" <h1>

<%= form_tag({ controller: 'home', action: 'search' }, method: 'get') do %>
  <%= select_tag :restaurant_id, options_for_select(Restaurant.all.map { |restaurant| [restaurant.name, restaurant.id] }), include_blank: 'All Restaurants' %>
  <%= select_tag :item_id, options_for_select(Item.all.map { |item| [item.name, item.id] }), include_blank: 'All Items' %>
  <%= submit_tag 'Search' %>
<% end %>

