<% @results.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <ul>
    <% restaurant.items.each do |item| %>
      <li>Name :<%= item.name %></li>
      <li>Description : <%= item.description %></li>
      <li>Price : <%= item.price %></li>
      <%= button_to "Add to Cart", cart_items_path(cart_item_id: item.id), method: :post%>
      <%= button_to 'Order', orders_path({cart_item_id: item.id }, {restaurant_id: item.restaurant.id }), method: :post %>
    <% end %>
  </ul>
<% end %>
