<%if @results.empty?%>
    <h1>There is no Item present!!</h1>
    <%= button_to 'Back', root_path, method: :get %>
<%end%>

<% @results.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <ul>
    <% restaurant.items.each do |item| %>
      <td> <li>Name :<%= item.name %></li></td>
      <td><li>Description : <%= item.description %></li><td>
      <li>Price : <%= item.price %></li>
      <table>
      <tr>
      <th><%= button_to "Add to Cart", cart_items_path(cart_item_id: item.id), method: :post%></th>
      <th><%= button_to 'Order', orders_path(item_id: item.id ), method: :post %></th>
      <th><%= button_to 'Back', root_path, method: :get %></th>
      </tr>
      </table>
    <% end %>
  </ul>
<% end %>
