<h1>Cart</h1>
<p><%= notice %></p>

<% @cart_items.each do |item| %>
  <p><%= item..name %> - <%= item.price %></p>
  <%= link_to 'Remove', remove_from_cart_path(item), method: :delete %>
<% end %>

<%= link_to 'Clear Cart', clear_cart_path, method: :delete %>
