<table>
<tr><h1>Welcome to <%= @restaurant.name %></h1></tr>
<tr>
<h3>Address : <%= @restaurant.address%></tr>
<h3>Contact_number_1 : <%= @restaurant.phone_1%></h3>
<h3>Contact_number_2 : <%= @restaurant.phone_2%></h3>
<h3>Minimum_order : <%= @restaurant.minimum_order%></h3>
<h3>Delivery_charge : <%= @restaurant.delivery_charge%></h3>
<h4>Description : </h4><%= @restaurant.description %></h4>
</table>
<p><%= button_to 'Back', restaurants_path , :method => :get%>