<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<p><%= @item.price %></p>

<%= form_with(url: cart_items_path, method: :post) do |form| %>
  <%= form.hidden_field :item_id, value: @item.id %>
  <%= button_to "Add to Cart", cart_items_path, params: {item: @item} %>
<% end %>
